        .logo {
            width: 170px;
            height: 58px;
            float: left;
            background-size: 165px 71px;
            border-radius: 50%;
            margin-bottom: 50%;

        }


        .khung {
            border-style: solid;
            display: block;
            width: 80%;
            height: 300px;
            background-size: 100%;
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat;
            text-align: center;
            margin: auto;
            border-radius: 10px
        }

        body {
            background-color: rgb(187, 247, 247);
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url(https://cdn.tgdd.vn/2020/06/content/hinh-nen-pubg-chon-loc-dep-mat-cho-dien-thoai-va-may-tinh-background-800x450.jpg);

        }

        .thu2 {
            border-style: solid;
            display: block;
            width: 40%;
            height: 500px;
            background-size: 200%;
            background-color: rgb(255, 255, 255);
            text-align: center;
            margin: auto;
            border-radius: 50px
        }

        .cangiua {
            width: 1000px;
            margin: auto;
        }

        .nen {

            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            background-attachment: fixed;
        }

        .logo {
            width: 170px;
            height: 58px;
            float: left;
            background: url(https://img5.thuthuatphanmem.vn/uploads/2022/01/13/logo-board-game_081052035.jpg) no-repeat;
            background-size: 165px 71px;
            background-color: #aa5f5c;
            background-position: center
        }

        .maukhung {
            height: auto;
            float: left;
            background: #c04953;
            width: 100%;
        }

        .cach {
            float: left;
            padding:  2px;
            line-height: 50px;
        }



        .cach1 {
            float: left;
            padding: 0 25px;
            line-height: 37px;
        }

        .mau {
            background: #b66060;

            float: left;
            width: 100%;
            line-height: 52px;
            padding: 0 12px;
        }
        h1 {
            font:700 30px/30px arial;
            text-align: center;
        
        }

        .khungtrai {
            border-radius: 10px;
            margin-left: 20px;
            box-sizing: border-box;
            background-color: rgb(226, 218, 218);
            float: left;
            margin: 20px;

        }
        a {
            text-decoration: none;
            color: aliceblue;
        }


        .nháy {
            padding: 15px;
            color: rgb(189, 193, 75);

        }

        .nháy:hover {
            background-color: #4e63b9;

        }

        .noidung {
            width: 1100px;
            text-align: left;
            border: solid;
            border-radius: 10px;
            margin: auto;
            background-color: aliceblue;
        }

        img {
            margin-left: 30px;
        }
        strong,p{
            font-size: 20px;
            margin-left: 40px;
        }
        h3{
            font-size: 20px;
            margin-left: 5%;
        }
        .flex {
            display: flex;
           
        }
        h2{
            padding-left: 2%;
           }
        .flex div {
            padding: 10px;   
            margin: 10px;
        }
        
        
        .inline-flex {
            display: inline-flex;
        }
        
        .inline-flex div {
            padding: 10px;
            margin: 10px;
        }
        h1{
            font:700 30px/30px arial;
            text-align: center;
            color: aqua;
        }   
        .nha{
            width:30% ;
        }
        @media (max-width: 670px) {  
            h1 {
                font-size: 24px;
            }
        
            p {
                color: #000;
            }
        
            .container {
                flex-direction: column;
            }
            .flex{
                flex-direction: column;
            }
            .inline-flex{
                flex-direction: column;
            }
            .noidung{
                margin: auto;
                padding: auto;
                width: 100%;
            }
            img{
                width: 80%;
            }
            .maukhung{    
            height: auto;
            float: left;
            background: #c04953;
            width: 35%;
        }
        
        }