
        .cangiua {
            width: 1000px;
            margin: auto;
        }

        .nen {
            background-image: url(https://cdnimg.vietnamplus.vn/t620/uploaded/ngtnnn/2023_01_26/2601game.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            background-attachment: fixed;
        }

        .logo {
            width: 170px;
            height: 50px;
            float: left;
            background: url(https://img5.thuthuatphanmem.vn/uploads/2022/01/13/logo-board-game_081052035.jpg) no-repeat;
            background-size: 165px 71px;
            border-radius: 50px;
        }

        .maukhung {
            height: 70px;
            float: left;
            background: #c04953;
            width: 100%;
            margin-top: 30px;
            position: relative;
            padding: 0 12px;
            list-style: 50px;
        }

        .cach {
            float: left;
            padding: 0 25px;
            line-height: 50px;
        }



        .cach1 {
            float: left;
            padding: 0 25px;
            line-height: 37px;
        }

        .mau {
            background: #b66060;
            
            float: left;
            width: 100%;
            line-height: 52px;
            padding: 0 12px;
        }

        .khungtrai {
            border-radius: 10px;
            margin-left: 20px;
            box-sizing: border-box;
            background-color: rgb(226, 218, 218);
            float: left;
            margin: 20px;
            list-style: none;
        
        }

        .bocham {
            text-decoration: none;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: aliceblue;
        }

        h3,
        p {
            color: #0b0a0a;
        }

        .nháy {
            padding: 15px;
            color: rgb(189, 193, 75);
           
        }

        .nháy:hover {
            background-color: #4e63b9;
            
        }
 